.button.svelte-1eaq156 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 5px;
	background-color: #fff;
	cursor: pointer;
}
.button.svelte-1eaq156:hover {
	background-color: #eee;
}
.buttons.svelte-17hbzt4 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 5px;
	background-color: #fff;
	cursor: pointer;
}
.chunk.svelte-1bah4ga {
	outline: 1px solid grey;
	padding: 10px 30px;
	margin-top: 60vh;
	background-color: #f0f0f0;
	opacity: 0.5;
}
.chunk.active.svelte-1bah4ga {
	opacity: 0.999;
}
textarea.svelte-3d9a4o {
	width: 100%;
	height: 250px;
	font-family: Courier New, Courier, monospace;
}
pre.svelte-3d9a4o,
code.svelte-3d9a4o {
	white-space: pre-wrap;
}
pre.svelte-3d9a4o:hover {
	background-color: bisque;
}
.hidden.svelte-3d9a4o {
	display: none;
}
.navbar.svelte-tnnnxv {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 15;
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	box-shadow: 0 1px 2px #0000001a;
}
.vizpanel.svelte-tnnnxv {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
}
#panel.svelte-tnnnxv {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
}
.narrative.svelte-tnnnxv {
	font-family: Minion Pro, Libre Baskerville, Baskerville, Baskerville Old Face, Hoefler Text,
		Garamond, Times New Roman, serif;
}
.narrative.svelte-tnnnxv {
	align-items: center;
	width: 100vw;
	margin-left: 0vw;
	margin-right: 0vw;
	padding-left: 25vw;
	padding-right: 25vw;
	margin-bottom: 90vh;
	left: 0vw;
	top: 0vw;
	position: relative;
	transition: all 1s ease-in-out;
	background-color: #ffffff06;
}
.narrative.slidden.svelte-tnnnxv {
	left: -100vw;
}
.narrative.left.svelte-tnnnxv {
	z-index: 10;
	align-items: center;
	width: 60vw;
	margin-left: 0vw;
	margin-right: 60vw;
	margin-bottom: 90vh;
	position: relative;
	background-color: #ffffff1a;
}
.narrative.svelte-tnnnxv:before {
	content: '';
}
.narrative.svelte-tnnnxv:after {
	margin-top: 90vh;
	content: '';
}
.left-column.svelte-tnnnxv {
	top: 0;
	background-color: red;
	width: 30%;
	min-height: 100%;
}
.center-column.svelte-tnnnxv {
	width: 40%;
}
.right-column.svelte-tnnnxv {
	width: 30%;
}
.action.svelte-tnnnxv:hover {
	cursor: pointer;
	background-color: #ffffff80;
	text-decoration: underline;
}
.flex-navbar.svelte-tnnnxv {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 10px;
	flex-direction: row;
}
